Projet/RoutingServer/Connected Services/ProxyCache/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServerProxy" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServerProxy_GetAvailabilities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailabilities" />
  </wsdl:message>
  <wsdl:message name="IServerProxy_GetAvailabilities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailabilitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IServerProxy_GetStations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStations" />
  </wsdl:message>
  <wsdl:message name="IServerProxy_GetStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsResponse" />
  </wsdl:message>
  <wsdl:portType name="IServerProxy">
    <wsdl:operation name="GetAvailabilities">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerProxy/GetAvailabilities" message="tns:IServerProxy_GetAvailabilities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerProxy/GetAvailabilitiesResponse" message="tns:IServerProxy_GetAvailabilities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerProxy/GetStations" message="tns:IServerProxy_GetStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerProxy/GetStationsResponse" message="tns:IServerProxy_GetStations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServerProxy" type="tns:IServerProxy">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvailabilities">
      <soap:operation soapAction="http://tempuri.org/IServerProxy/GetAvailabilities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStations">
      <soap:operation soapAction="http://tempuri.org/IServerProxy/GetStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServerProxy">
    <wsdl:port name="BasicHttpBinding_IServerProxy" binding="tns:BasicHttpBinding_IServerProxy">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServerProxy/ProxyCache" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>